extends layout 

block content 

    h1= title 

    each gameConsole in gameConsoles
        div
            h2
                a(href=gameConsole.url) #{gameConsole.name} 
            p= gameConsole.developer
            p= gameConsole.description