extends layout 

block content 

    p= gameConsole.developer
    h1= title

    each game in games
        div
            h2
                a(href=game.url) #{game.name} 
            p= game.description

    hr
    p 
        a(href=gameConsole.url+'/delete') Delete console
    p 
        a(href=gameConsole.url+'/update') Update console