extends layout 

block content 

    h1= title

    form(method='POST' action='' enctype='multipart/form-data')
        label(for='name') Game Name:
        input#name(type='text' name='name' value!=(game === undefined ? '' : game.name) required='true')

        label(for='poster') Game Poster: 
        input#poster(type='file' name='poster' accept='image/png, image/jpeg')

        label(for='description') Description of Game:
        textarea#description(name='description' required='true') !{game === undefined ? '' : game.description}

        label(for='price') Price of Game (in US Dollars):
        input#price(type='number' name='price' step='5' value=(game === undefined ? 0 : game.price) required='true')

        label(for='numberInStock') Number in Stock:
        input#numberInStock(type='number' name='numberInStock' value=(game === undefined ? 0 : game.numberInStock) required='true')

        fieldset 
            legend Consoles the game is available on:

            for gameConsole in gameConsoles 
                div
                    input(type='checkbox' name='gameConsoles' id=gameConsole._id value=gameConsole._id checked=gameConsole.checked)
                    label(for=gameConsole._id) #{gameConsole.name}

        button(type='submit') Submit Game

    if errors
        ul 
            for error in errors
                li!= error.msg
        