extends layout 

block content 

    h1= title
    p= game.description 
    p Price: $#{game.price}
    p In Stock: #{game.numberInStock}

    h2 Consoles:

    ul
        each console in game.gameConsoles
            li
                a(href=console.url) #{console.name}

    hr
    p 
        a(href=game.url+'/delete') Delete game
    p 
        a(href=game.url+'/update') Update game